@media (min-width: 1200px) {
	.vertical-center-lg {
		position: relative;
		top: 30%;
		transform: translateY(-50%);
	}
	.headerImage {
		top: -200px;
		margin-bottom: -200px;
		height: 200px;
	}

	.socialWrapper {
		text-align: left;
	}
	.menu {
	    height: 200px;
	}
}
